# CODEOWNERS file is evaluated top-to-bottom, later rules override earlier rules.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default codeowners
# https://github.com/orgs/nightscout/teams/trio-codeowners
*                    @nightscout/trio-codeowners @nightscout/trio-codeowners-superusers

# Core algorithm + oref codeowners
# https://github.com/orgs/nightscout/teams/trio-oref-codeowners
AlgorithmPackage         @nightscout/trio-oref-codeowners @nightscout/trio-codeowners-superusers
trio-oref                @nightscout/trio-oref-codeowners @nightscout/trio-codeowners-superusers
oref0_source_version.txt @nightscout/trio-oref-codeowners @nightscout/trio-codeowners-superusers

# Insulin pump driver submodules
# https://github.com/orgs/nightscout/teams/trio-pump-codeowners
AccuChekKit          @nightscout/trio-pump-codeowners @nightscout/trio-codeowners-superusers
DanaKit              @nightscout/trio-pump-codeowners @nightscout/trio-codeowners-superusers
MedtrumKit           @nightscout/trio-pump-codeowners @nightscout/trio-codeowners-superusers
MinimedKit           @nightscout/trio-pump-codeowners @nightscout/trio-codeowners-superusers
OmnipodKit           @nightscout/trio-pump-codeowners @nightscout/trio-codeowners-superusers
RileyLinkKit         @nightscout/trio-pump-codeowners @nightscout/trio-codeowners-superusers

# CGM driver submodules
# https://github.com/orgs/nightscout/teams/trio-cgm-codeowners
CGMBLEKit            @nightscout/trio-cgm-codeowners @nightscout/trio-codeowners-superusers
EversenseKit         @nightscout/trio-cgm-codeowners @nightscout/trio-codeowners-superusers
LibreCRKit           @nightscout/trio-cgm-codeowners @nightscout/trio-codeowners-superusers
LibreLoop            @nightscout/trio-cgm-codeowners @nightscout/trio-codeowners-superusers
LibreTransmitter     @nightscout/trio-cgm-codeowners @nightscout/trio-codeowners-superusers
G7SensorKit          @nightscout/trio-cgm-codeowners @nightscout/trio-codeowners-superusers

# Github Actions CI / Browser Build
# https://github.com/orgs/nightscout/teams/trio-ci-codeowners
.github/workflows/   @nightscout/trio-ci-codeowners @nightscout/trio-codeowners-superusers
fastlane/            @nightscout/trio-ci-codeowners @nightscout/trio-codeowners-superusers
patches/             @nightscout/trio-ci-codeowners @nightscout/trio-codeowners-superusers
BuildTools/          @nightscout/trio-ci-codeowners @nightscout/trio-codeowners-superusers
Gemfile              @nightscout/trio-ci-codeowners @nightscout/trio-codeowners-superusers
Gemfile.lock         @nightscout/trio-ci-codeowners @nightscout/trio-codeowners-superusers

# Translations
# https://github.com/orgs/nightscout/teams/trio-translations-codeowners
crowdin.yml                  @nightscout/trio-translations-codeowners @nightscout/trio-codeowners-superusers
*.strings                    @nightscout/trio-translations-codeowners @nightscout/trio-codeowners-superusers
Trio/Sources/Localizations/  @nightscout/trio-translations-codeowners @nightscout/trio-codeowners-superusers

# The CODEOWNERS file itself
.github/CODEOWNERS   @nightscout/trio-codeowners-superusers
