APP_DISPLAY_NAME = Trio
APP_VERSION = 0.5.0
APP_DEV_VERSION = 0.5.0.2
APP_BUILD_NUMBER = 1
COPYRIGHT_NOTICE =
DEVELOPER_TEAM = ##TEAM_ID##
BUNDLE_IDENTIFIER = org.nightscout.$(DEVELOPMENT_TEAM).trio
APP_ICON = trioBlack
APP_URL_SCHEME = Trio

// Optional overrides
#include? "../../ConfigOverride.xcconfig"
#include? "../ConfigOverride.xcconfig"
#include? "ConfigOverride.xcconfig"
