APP_DISPLAY_NAME = Trio
APP_VERSION = 0.5.0
APP_DEV_VERSION = 0.5.0.27
APP_BUILD_NUMBER = 1
COPYRIGHT_NOTICE =
DEVELOPER_TEAM = ##TEAM_ID##
BUNDLE_IDENTIFIER = org.nightscout.$(DEVELOPMENT_TEAM).trio
APP_ICON = trioBlack
APP_URL_SCHEME = Trio
HIDE_SIMULATOR = 1 // Default is to hide glucose and pump simulator, change to 0 in your ConfigOverride to enable them in debug builds

// Optional overrides
#include? "../../ConfigOverride.xcconfig"
#include? "../ConfigOverride.xcconfig"
#include? "ConfigOverride.xcconfig"
